*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #e5f1e3;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.navbar{
    background-color: #35635b;
}

.nav-text-div{
    margin: auto;
    width: 50%;
    text-align: center;
    color: white;
}

.nav-text{
    font-size: 1.36rem;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: black;
}

.contact{
    border: 2px solid black;
    text-align: left;
    /* background-color: #a3cd9e; */
}

#contact-head{
    margin-top: 3%;
    text-align: center;
}

.address{
    text-align: center;
}

footer{
    background-color: #529471;
}
.foot-class{
    margin: auto;
    text-align: center;
}

.jombo{
    background-color: #a3cd9e;
    width: 100%;
}

.card-deck{
    margin-bottom: 3%;
}

h2, h3{
    color: #07689f;
    font-family: 'Orelega One', Arial, Helvetica, sans-serif;
}

/* input[type=text], input[type=email], input[type=number], #message{
    background-color: #a3cd9e;
} */

.address{
    /* background-color: #a3cd9e; */
    padding-bottom: 3%;
}

.card-body{
    background-color: #e5f1e3; 
}

h1{
    font-family: "Orelega One", Arial, Helvetica, sans-serif;
}

.logo{
    background-color: #163a46;
}

@media screen and (max-width: 823px) {
   .logo img{
    margin-left: 25%;
    width: 57%;
   }
  }